html {
  font-family: "Fredoka One", sans-serif;
  color: #c09;
}

h1 {
  color: #990073;
  transform: rotate(-5deg);
}

p {
  transform: rotate(-5deg);
  max-width: 19em;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

body {
  border-top: 5px solid #d4fdff;
  border-bottom: 5px solid #d4fdff;
  position: relative;
  overflow: hidden;
}

.stripes {
  background-image: repeating-linear-gradient(-45deg, #b3fbff, #b3fbff 10px, #c9fcff 10px, #c9fcff 20px);
  padding: 2em 5em;

}

img {
  width: 85px;
  position: absolute;
}

.btn-ghost {
  background-color: transparent;
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .1);
}

.text {
  animation: text-appear 1s ease forwards;
}

@keyframes text-appear {

  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}
